@import url("https://use.typekit.net/rqz7ufi.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: quasimoda, sans-serif;
}

.bg-home {
  background: url("/isometric.svg") center center,
    linear-gradient(30deg, #500, maroon, #500, maroon, #500, maroon, #500);
  background-size: cover, cover;
  background-attachment: fixed, fixed;
  background-blend-mode: multiply, normal;
}
